# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project exports
exports/*
!exports/.gitkeep